::-webkit-scrollbar {
    display: none;
}

/* Element styling */
* {
    font-family: 'Raleway';
    font-weight: 200;
    color: white;
}
body {
    background-image: url(../images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 5vw;
    padding-bottom: 2vw;
}
h2 {
    font-size: 4vw;
}
h3 {
    font-size: 3vw;
}
p { 
    font-size: 2vw;
    padding-bottom: 1vw;
}
hr {
    width: 80%;
    margin: 3vh auto 3vh auto;
    border: none;
    height: 1px;
    background: rgb(240, 240, 240);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
sub {
    font-size: 0.5vw;
}

ul li {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 2vw;
}
a {
    text-decoration: none;
    cursor: grab;
}
.tab {
    margin-left: 5vw;
    text-align: left;
}


/* Class styling */
.raleway-extralight {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}
.container.first {
    margin-top: 15vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 75vw;
    margin: 0 auto 10vh auto;
    padding: 0 2vw;
    height: auto;
    user-select: none;
    animation: fadein 3s;
    text-shadow: 2px 2px 3px black;
}
.container.last::after {
    content: '';
    display: block;
    height: 5vh;
    background: linear-gradient(to bottom, transparent, black);
}
@keyframes fadein {
from { opacity: 0; }
to { opacity: 1; }
}
.container h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.container p {
    margin-top: 0;
    margin-bottom: 0;
}
hyperlink {
    color: lightblue;
}
.btt {
    overflow: hidden;
    border-radius: 7px;
    display: inline;
    right: 5%;
    bottom: 10%;
    position: fixed;
}
.btt a{
    font-size: 22px;
    background-color:rgba(17, 89, 137,0.2);
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.btt a:hover {
    background-color:rgba(17, 89, 137,0.4)
}


/* Navigation bar styling */
.nav {
    overflow: hidden;
    border-radius: 4px;
    display: inline;
    top: 3%;
    right: 2%;
    position: fixed;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 22px;
    border-right: 1px solid white;

}
.nav a:first-child {
    border-right: none;
}

.nav a:hover {
    background-color: rgba(235, 145, 137, 0.4)
}

#active {
    font-weight: 400;
    cursor: not-allowed;
    background-color: rgba(235, 145, 137, 0.4)
}

/* Button styling */

.button {
    display: inline-block;
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2vw;
    padding: 1vw;
    width: 35vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-shadow: 2px 2px 3px black;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.5vw;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}